main {
    flex: 1;
}

.header-cartas {
    position: relative;
    width: 100%;
    min-height: 250px;
}
.header-cartas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/logo_cartas.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.brow {
    text-align: center;
    font-size: 18px;
    margin: 20px auto;
    padding: 20px;
    max-width: 1300px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 1300px;
    background-color: #fff;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px;
    align-items: stretch;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

.carta {
    width: 380px;
    background-color: #111;
    color: #fff;
    border-radius: 25px;
    border: 2px solid #333;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 25px;
}